<section class="pb-4">
    <div>
        <p class="font-bold">概要</p>
        <div class="p-2 content">
            <h2 class="mb-2">某放送協会 災害情報システムの開発・保守</h2>
        </div>
    </div>
    <div>
        <p class="font-bold">所属</p>
        <div class="p-2 content">株式会社ヘッドジャパン</div>
    </div>
    <div>
        <p class="font-bold">期間</p>
        <div class="p-2 content">2017/12～2023/02</div>
    </div>
    <div>
        <p class="font-bold">チーム体制</p>
        <div class="p-2 content">
            <p>5人(マネージャー1, エンジニア3, デザイナー1)</p>
        </div>
    </div>
    <div>
        <p class="font-bold">環境</p>
        <div class="p-2 content">
            <p>言語: PHP, JavaScript</p>
            <p>FW: Laravel, jQuery</p>
            <p>DB: MySQL</p>
            <p>インフラ: オンプレ</p>
            <p>その他: Git, Docker, Ansible</p>
        </div>
    </div>
    <div>
        <p class="font-bold">内容</p>
        <div class="p-2 content">
            災害発生時に自治体などから送られてくるデータを一元管理する社内システムの開発･保守を担当｡<br />
            要件定義・設計・実装・テスト・リリースまで一貫して担当<br />
            2019年以降は保守の主担当として、継続的な機能追加・リファクタリングを実施
        </div>
    </div>
</section>
