<section class="pb-4">
    <div>
        <p class="font-bold">概要</p>
        <div class="p-2 content">
            <h2 class="mb-2">某放送協会 災害情報システムの開発・保守</h2>
        </div>
    </div>
    <div>
        <p class="font-bold">所属</p>
        <div class="p-2 content">株式会社ヘッドジャパン</div>
    </div>
    <div>
        <p class="font-bold">期間</p>
        <div class="p-2 content">2017/12～2023/02</div>
    </div>
    <div>
        <p class="font-bold">チーム･役割</p>
        <div class="p-2 content">
            <p>5人(マネージャー1, エンジニア3, デザイナー1)</p>
            <p>
                設計､開発､保守を担当｡
            </p>
        </div>
    </div>
    <div>
        <p class="font-bold">環境</p>
        <div class="p-2 content">
            <p>言語: PHP, JavaScript</p>
            <p>FW: Laravel, JQuery</p>
            <p>DB: MySQL</p>
            <p>インフラ: オンプレ</p>
            <p>その他: Git, Docker, Ansible</p>
        </div>
    </div>
    <div>
        <p class="font-bold">内容</p>
        <div class="p-2 content">
            発災時に地方自治体などからデータを受信し､災害情報を一元管理するシステムの開発･保守を担当｡
            2019年頃からは保守の主担当として､機能追加や改修を行いながら､システムの安定稼働に貢献｡
        </div>
    </div>
</section>