<section class="pb-4">
    <div>
        <p class="font-bold">概要</p>
        <div class="p-2 content">
            <h2 class="mb-2">某放送協会 災害情報システムの開発・保守</h2>
        </div>
    </div>
    <div>
        <p class="font-bold">所属</p>
        <div class="p-2 content">株式会社ヘッドジャパン</div>
    </div>
    <div>
        <p class="font-bold">期間</p>
        <div class="p-2 content">2017/12～2023/02</div>
    </div>
    <div>
        <p class="font-bold">チーム体制</p>
        <div class="p-2 content">
            <p>5人(マネージャー1, エンジニア3, デザイナー1)</p>
        </div>
    </div>
    <div>
        <p class="font-bold">環境</p>
        <div class="p-2 content">
            <p>言語: PHP, JavaScript</p>
            <p>FW: Laravel, jQuery</p>
            <p>DB: MySQL</p>
            <p>インフラ: オンプレ</p>
            <p>その他: Git, Docker, Ansible</p>
        </div>
    </div>
    <div>
        <p class="font-bold">内容</p>
        <div class="p-2 content">
            NHKの災害情報システムのリプレイスおよび保守を担当
            <ul>
                <li>災害発生時にLアラートを受信し、データ放送やアプリで配信できる形式に加工するシステムを開発</li>
                <li>雨量・ダム諸量・河川水位などの観測データを自動で後段システムへ配信</li>
                <li>リプレイス後も機能追加・改修を担当し、設計～実装・テスト・リリース・保守まで一貫して対応</li>
                <li>在職中はシステムダウンなど致命的な障害を発生させることなく、安定稼働を継続</li>
            </ul>
        </div>
    </div>
</section>
