<section class="pb-4">
    <div>
        <p class="font-bold">概要</p>
        <div class="p-2 content">
            <h2 class="mb-2">保育士向け求人サイト｢ほいくisお仕事探し｣の設計･開発･運用･保守</h2>
        </div>
    </div>
    <div>
        <p class="font-bold">所属</p>
        <div class="p-2 content">株式会社e-CHANNEL</div>
    </div>
    <div>
        <p class="font-bold">期間</p>
        <div class="p-2 content">2023/06～</div>
    </div>
    <div>
        <p class="font-bold">チーム体制</p>
        <div class="p-2 content">
            <p>11人(マネージャー2, ディレクター4, エンジニア2, デザイナー3)&plus;業務委託</p>
        </div>
    </div>
    <div>
        <p class="font-bold">環境</p>
        <div class="p-2 content">
            <p>言語: PHP, JavaScript, Python</p>
            <p>FW: Laravel, jQuery, Vue, Scrapy</p>
            <p>DB: RDS(MySQL), Redis</p>
            <p>インフラ: AWS</p>
            <p>その他: Git, GitHub Actions, Docker, Ansible, Jenkins</p>
        </div>
    </div>
    <div>
        <p class="font-bold">内容</p>
        <div class="p-2 content">
            保育士向け求人サイト｢ほいくisお仕事探し｣の開発、運用に従事
            <ul>
                <li>新機能開発および既存機能の改修を担当し､要件定義･設計･実装･テスト･リリース後の運用まで一貫して対応</li>
                <li>業務委託エンジニアとのコミュニケーションやコードレビューを担当し､円滑な開発進行と品質の維持に貢献</li>
                <li>2024年度よりインフラ管理も兼任し､既存サーバー構成の改善を担当</li>
                <li>サーバーリプレイスおよびPHPバージョンアップ（2024年10月）を主導し、サイトの安定稼働を実現</li>
                <li>コード管理ツールをGitBucketからGitHubへ移行し、開発プロセスの改善を推進</li>
                <li>CI/CD基盤をJenkinsからGitHub Actionsへ移行し、デプロイの効率化と自動化を実現</li>
            </ul>
        </div>
    </div>
</section>
