<section class="pb-4">
    <div>
        <p class="font-bold">概要</p>
        <div class="p-2 content">
            <h2 class="mb-2">保育士向け求人サイト｢ほいくisお仕事探し｣の設計･開発･運用･保守</h2>
        </div>
    </div>
    <div>
        <p class="font-bold">所属</p>
        <div class="p-2 content">株式会社e-CHANNEL</div>
    </div>
    <div>
        <p class="font-bold">期間</p>
        <div class="p-2 content">2023/06～</div>
    </div>
    <div>
        <p class="font-bold">チーム体制</p>
        <div class="p-2 content">
            <p>11人(マネージャー2, ディレクター4, エンジニア2, デザイナー3)&plus;業務委託</p>
        </div>
    </div>
    <div>
        <p class="font-bold">環境</p>
        <div class="p-2 content">
            <p>言語: PHP, JavaScript, Python</p>
            <p>FW: Laravel, jQuery, Vue</p>
            <p>DB: RDS(MySQL)</p>
            <p>インフラ: AWS</p>
            <p>その他: Git, Docker, Ansible, Jenkins, Scrapy</p>
        </div>
    </div>
    <div>
        <p class="font-bold">内容</p>
        <div class="p-2 content">
            保育士向け求人サイト｢ほいくisお仕事探し｣の新機能開発、既存機能の改修、運用･保守業務全般<br />
            要件定義・設計から実装・テスト・リリース後の運用まで一貫して担当<br />
            業務委託エンジニアとのコミュニケーション・コードレビュー<br />
            2024年度からはインフラ管理も兼任し､障害対応･構成管理も担当している<br />
            サーバーリプレイスおおよびPHPのバージョンアップ(2024年10月)を手動し､サイトの安定稼働に貢献<br />
        </div>
    </div>
</section>
