<section class="border-b pb-4">
    <div>
        <p class="font-bold">概要</p>
        <div class="p-2">
            <h2 class="mb-2">保育士向け求人サイト｢ほいくisお仕事探し｣の設計･開発･運用･保守</h2>
        </div>
    </div>
    <div>
        <p class="font-bold">期間</p>
        <div class="p-2">2023/06～</div>
    </div>
    <div>
        <p class="font-bold">チーム･役割</p>
        <div class="p-2">
            <p>13人(マネージャー2, ディレクター5, エンジニア3, デザイナー3)</p>
            <p>
                エンジニアとして、要件定義から設計、開発、運用、保守まで一貫して担当。
            </p>
        </div>
    </div>
    <div>
        <p class="font-bold">環境</p>
        <div class="p-2">
            <p>言語: PHP7.4→8.1, JavaScript, Python</p>
            <p>FW: Laravel8, JQuery</p>
            <p>DB: MySQL</p>
            <p>インフラ: AWS</p>
            <p>その他: Git, Docker, Ansible, Jenkins, scrapy</p>
        </div>
    </div>
    <div>
        <p class="font-bold">内容</p>
        <div class="p-2">
            システムエンジニアとして、保育士向け求人サイト｢ほいくisお仕事探し｣の新機能開発、既存機能の改修、運用、保守を担当。
            また､2024年度からはインフラの管理･運用も担当している｡
        </div>
    </div>
</section>