<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>履歴書</title>
    <link rel="stylesheet" href="./assets/css/resume.css">
</head>
<body>
    <div class="container mx-auto">
        {% include header.html %}

        <!-- 基本情報 -->
        <section class="border-b pb-4">
            <div>
                <p class="font-bold">氏名(ふりがな)</p>
                <p class="p-2">{{ site.name }}({{ site.name_ruby }})</p>
            </div>
            <div>
                <p class="font-bold">住所</p>
                <p class="p-2">&#12306;{{ site.zip }} {{ site.address }}</p>
            </div>
            <div>
                <p class="font-bold">生年月日</p>
                <p class="p-2">1993年03月31日(<span id="age"></span>歳)</p>
            </div>
            <div>
                <p class="font-bold">性別</p>
                <p class="p-2">男性</p>
            </div>
            <div>
                <p class="font-bold">Email</p>
                <p class="p-2">{{ site.email | default: "メールアドレス" }}</p>
            </div>
        </section>

        <!-- 学歴 -->
        <section class="border-b pb-4 mt-4">
            <h2 class="text-lg font-bold mb-2">学歴</h2>
            <table class="table-fixed border-separate border-spacing-2">
                <thead>
                    <tr>
                        <th class="w-ym">年月</th>
                        <th>学歴</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2011年3月</td>
                        <td>北海道旭川凌雲高等学校 卒業</td>
                    </tr>
                    <tr>
                        <td>2012年4月</td>
                        <td>公立はこだて未来大学 情報システム学科 入学</td>
                    </tr>
                    <tr>
                        <td>2016年3月</td>
                        <td>公立はこだて未来大学 情報システム学科 中退</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <!-- 職歴 -->
        <section class="border-b pb-4 mt-4">
            <h2 class="text-lg font-bold mb-2">職歴</h2>
            <table class="table-fixed border-separate border-spacing-2">
                <thead>
                    <tr>
                        <th class="w-ym">年月</th>
                        <th>職歴</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2017年1月</td>
                        <td>株式会社ヘッドジャパン 入社</td>
                    </tr>
                    <tr>
                        <td>2023年5月</td>
                        <td>株式会社ヘッドジャパン 退社</td>
                    </tr>
                    <tr>
                        <td>2023年6月</td>
                        <td>株式会社e-CHANNEL 入社</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <!-- 免許･資格 -->
        <section class="mt-4">
            <h2 class="text-lg font-bold mb-2">免許･資格</h2>
            <table class="table-fixed border-separate border-spacing-2">
                <thead>
                    <tr>
                        <th class="w-ym">年月</th>
                        <th>免許･資格</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2019年1月</td>
                        <td>基本情報技術者 取得</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>

    <script src="./assets/js/common.js" defer></script>
</body>
</html>
